$text-color: white;

.App {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,1);
  height: 100vh;
  padding: 30px;
}

.title {
  color : yellowgreen;
  margin-right: 1rem;
  font-size: 2rem;
}

// add button styles

.todo--c1{
  display: flex;
  justify-content: space-between;
}

.btn{
  height: 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: darkslategray;
  color: $text-color;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 1.2rem;
}

.btn:hover {
  color: yellowgreen;
  box-shadow: 1px 1px 10px .5px yellowgreen, -1px -1px 10px .5px yellowgreen;
}

// form styles


.todo--c2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}

.create--form{
  width: 100%;
}

.create--input{
  border: none;
  border-bottom: 1px solid slategray;
  outline: none;
  background-color: black;
  color: $text-color;
  width: 100%;
}

.create--form{
  display: none;
}

.show {
  display: block;
}

input[type=radio] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: yellowgreen;
}

// todo styles

.todo-list {
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}

.todo {
  color: $text-color;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 1rem;
  margin: .8rem 0;
  padding: 5px;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

